.todoCont {
  background: url('../../assets/tijolos.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  color: rgb(255, 255, 255);

  .header-contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background: rgba(0, 0, 0, 0.26);
    border-bottom: 1px solid rgb(165, 165, 165);

    strong {
      display: flex;
      align-items: center;

      span {
        font-family: 'Allura', sans-serif;
        margin-left: 10px;
        font-size: 80px
      }
    }
    a{
      z-index: 100;
    }
  }
}

.Main-cont {
  height: 150vh;
  display: flex;

  .leftCont {
    height: 150vh;
    flex: 2;
    max-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      font-family: 'Poppins', sans-serif;
      font-size: medium;
      margin-top: 10px;
      margin-left: 10px;
    }

    img {
      max-height: 400px;
      border-radius: 30px;
      border: 1px solid white;
    }

    @media (max-width: 950px) {
      display: none;
    }
  }

  section {
    height: 150vh;
    width: 50vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    article {
      height: 300px;
      width: 350px;
      padding: 30px;
      margin: 10px;
      background: rgba(255, 255, 255, 0.185);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 0px 30px 0px 30px;
      margin: 25px;
      overflow-y: hidden;
      border: 1px solid white;
      animation: ArticleAnimation 1.5s;

      @keyframes ArticleAnimation {
        0%{
          height: 5px;
          margin-right: -300vh;
        }
       
        50%{
          height: 5px;
          margin-right: none;
        }
        75%{
          height: 5px;
        }
       
        100%{
          height: 300px;
        }
      }

      img {
        height: 40px;

      }

      h1 {
        font-family: 'Allura', sans-serif;
        font-size: 45px;
      }

      p {
        font-family: 'Poppins', sans-serif;
        margin-Top: 15px;
        font-size: medium;
        margin-Bottom: 15px;

      }

      a {
        position: relative;
        text-decoration: none;
        color: #d1d1d1;
        letter-spacing: 0.5px;
        font-size: medium;
        transition: 0.5s;

      }

      a:hover {
        color: white;
      }

      a:after {
        content: '';
        position: absolute;
        background: rgb(255, 255, 255);

        height: 2px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
      }

      a:hover:after {
        width: 100%;

      }
    }
  }


}

.Fot-Contato {
  display: flex;
  height: 10vh;
  background: rgba(0, 0, 0, 0.26);
  border-top: 1px solid rgb(165, 165, 165);
  font-family: 'Allura', sans-serif;

  span {
    margin: auto;
  }
}

@media (max-width: 550px) {
  .header-contato {
    strong {
    
      span {
        
        font-size: 40px
      }
    }
  }
}