.inicial-page{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/BackGround-inicial.png') no-repeat  center  center ;
  background-size: cover;
  height: 100vh;
  z-index: 1000;
}

.div-principal{
  cursor: pointer;
  background: url('../../assets/Logo.png') no-repeat  center  center ;
  height: 260px;
  width: 260px;

}
.div-principal:hover {
  animation: logoHover 0.35s linear;

}
@keyframes logoHover {
  50%{
    margin-left: 5px;
    background: url('../../assets/Logo(2).png') no-repeat  center  center ;
  }
  100%{
    margin-left: 0px;
    background: url('../../assets/Logo.png') no-repeat  center  center ;
  }
  
}


