.Tudo {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background: rgb(0, 0, 0);

  header {
    font-size:px;
    height: 10%;
    width: 100%;
    display: flex;
    font-family: 'Shadows Into Light', sans-serif;

    section {


      >img {
        height: 60px;
        position: absolute;
        margin-left: 300px;
        margin-top: -25px;
        cursor: pointer;
      }
    }
    img{
      height: 50px;
      padding: 15px;
    }

    a{
      width: 150px;
    }

    h1{
      font-size: 20px;
      margin-left: 70vw;
      height: 40px;
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
      padding: 11px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s;
      color: white;
    }
    h1:hover{
      background: rgba(63, 63, 63, 0.534);
    }
  }


  main {
    display: flex;

    .Left {
      display: flex;
      flex-direction: column;

      section {
        margin-top: auto;

        img {
          align-items: flex-end;
          display: flex;
          height: 20px;
          margin-left: 50px;
          margin-right: 50px;
          margin-top: 20px;

        }


        div {
          width: 3px;
          border-radius: 30px;
          height: 100px;
          background: white;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
        }

      }
    }

    .Center {
      height: 80vh;
      width: 84%;
      border-radius: 20px;
      background: url('../../assets/images/mark-farias-V_MdomV6Kbg-unsplash.jpg') no-repeat center center;
      background-size: cover;
      display: flex;
    


      h1 {
        font-family: 'Allura', sans-serif;
        font-size: 150px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        

      }

      h1:hover {
        mix-blend-mode: none;
      }

    }
    .right{
      writing-mode:vertical-lr;
      display: flex;
      
      justify-content: space-between;
      font-family: 'Shadows Into Light', sans-serif;
      width: 100%;
      

      h1 {
        font-size: 20px;
        height: 150px;
        width: flex;
        padding: 20px;
        text-align: center;
        border: 30px;
        cursor: pointer;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        transition: 0.5s;
        
        
      }
      h1:hover{
        background: rgba(63, 63, 63, 0.534);
      }

    }
  }

  footer {
    display: flex;
    height: 10vh;
    color: red;
    font-family: 'Shadows Into Light', sans-serif;
    justify-content: space-around;

    h1 {
      font-size: 20px;
      height: flex;
      width: 150px;
      padding: 5px;
      text-align: center;
      border: 30px;
      cursor: pointer;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      transition: 0.5s;
    }
    h1:hover{
      background: rgba(63, 63, 63, 0.534);
    }

  }


}