.Project{
  background: url('../../assets/background-Stars.jpg') no-repeat  center  center ;
  height: 100vh;
  overflow-y: hidden;
}
.headerProjects{
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #13131383;
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 10;
  animation: headerStyle 0.5s;
  img{
    margin-right: 20px;
    height: 50px;
  }
  
}
.backGround-react{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #13131383;
  z-index: none;
  img{
    height: 90vh;
    mix-blend-mode: overlay;
    
  }
}
.Repositorios{
  overflow-x: scroll;
  display: flex;
  margin-top: 50vh;
  width: 90%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  position: relative;
  background: linear-gradient(150deg, #000000, #202020af, #000000);
  z-index: 10;
  gap: 15px;
  border-radius: 15px;
  border-bottom: none;
  padding: 10px;
  animation: Projetos 1s ;
}
.Button{
  font-size: 50px;
}
.Button:hover{
  animation: voltarButton 0.4s linear;
  
}

@keyframes Projetos {
  0%{
    margin-left: 0px;
    width: 0;
  }
  25%{
    margin-left: 1.5%;
  }
  50%{
    margin-left: 2.5%;
  }
  75%{
    margin-left: 4%;
  }
  100%{
    margin-left: 5%;
    width: 90%;
    
  }

}
@keyframes headerStyle{
  from{
    margin-top: -70px;
  }

  to{
    margin-top: 0px;
  }
 
}

@keyframes voltarButton {
 
  0%{
    font-size: 50px;
  }
  25%{
    font-size: 60px ;
    text-shadow: 3px 5px #797979;
    color: #ffffff;
  }
  50%{
    font-size: 54px ;
    text-shadow: 3px 1.5px #797979;
    color: #d8d8d8;
  }
  75%{
    font-size: 57px ;
    text-shadow: 3px 3.8px #797979;
    color: #ffffff;
  }
  100%{
    font-size: 50px;
    color: #d8d8d8;
  }
}