.Color{
  background: rgb(41, 41, 41);
}
.Sobre{
  position: relative;
  min-height: 80vh;
  color: rgb(211, 212, 212);
  display: flex;
  box-shadow: #00000070 0px 10px 10px;
  z-index: 10;

  article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    p{
      font-size: 35px;
      margin-top: 0px;
      font-weight: 700;
    }
    .P-3{
      display: flex;
      margin-top: -20px;
    }
    strong{
      font-family: 'Blanka';
      font-size: 45px;
      letter-spacing: 3px;
      background: -webkit-linear-gradient(100deg, #3d0000, #a70000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
    }
  }
}
.Asside{
  display: flex;
    height: 100%;
    width: 50%;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

  div{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    div{
      position: absolute;
      border-radius: 10px;
      border: 8px solid rgb(117, 0, 0);
      box-shadow: #ff0000 7px 7px 30px;
      width: 200px;
      height: 350px;
      margin-left: -80px;
      margin-top: 70px;
      z-index: 0;
    }
    img{
      z-index: 10;
      width: 230px;
      height: 400px;
    }
  }
  h1{
    font-family: 'Allura', sans-serif;
    font-size: 50px;
    margin-top: 10px;
    
    margin-right: 50px;
  }
}
.MaisSobre{
  height: 100vh;
  z-index: 0;
  background: rgb(41, 41, 41);
  padding: 5%;

  .Paragrafo{
    display: flex;
    font-size: 50px;
    width: 45%;
    min-width: 100%;
    font-family: 'Blanka', 'Poppins', sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(100deg, #300000, #a70000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    strong{
      font-family: 'Blanka', 'Poppins', sans-serif;
      height: 100px;
      
    }
  }

  div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 400px;
    color: white;
  }
}
@media (max-width: 1100px) {
  .Sobre{
    display: block;
  }
  .Sobre{
    article{
      width: 100%;
    }
  }
  .MaisSobre{
    height: 200vh;
  }
  .Asside{
    width: 100%;
  }
}
@media (max-width: 600px) {
  .Asside{
    h1{
      width: 100%;
      margin-right: 0%;
      text-align: center;
    }
  }
  .Sobre{
    article p{
      font-size: 25px;
      text-align: center;
    }
    article strong{
      font-size: 30px;
    }
  }
  .MaisSobre{
    height: 200vh;
   
  }
  
  .Paragrafo{
    font-size: 25px;
  }
  
 
}