 .Landing-Page {
  margin: 0%;
  padding: 0%;
  background: url('../../assets/images/pexels-nothing-ahead-6800721.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  
  div{
    margin: auto;
  }

  button{
    width: 400px;
    height: 400px;
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 10px ) ;
    cursor: pointer;
    border: none;

    
    img{
      height: 350px;
      padding: 30px;
      mix-blend-mode: overlay;
    }
  }
  button:hover {
      backdrop-filter: blur( 20px );
     }
}