 .Landing-Page {
  
  background: url('../../assets/images/pexels-nothing-ahead-6800721.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  div{
    display: flex;
    
    
  }

  button{
    width: 300px;
    height: 300px;
    border-radius: 500px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 10px ) ;
    position: static;
    cursor: pointer;
    border: none;

    
    img{
      height: 250px;
      padding: 30px;
      mix-blend-mode: overlay;
    }
  }
  button:hover {
      backdrop-filter: blur( 5px );
     }
}