* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
body{
  min-height: 100vh;
}
*::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
  height: 15px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #61616160;
  border-radius: 500px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.301);

}