.divLink{
  display: flex;
  justify-content: center;
  background: rgba(255, 0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #d8d8d8;
}
.divLink:hover {
  animation: LinksHover 0.4s linear;
}

@keyframes LinksHover {
 
  0%{
    font-size: 20px;
  }
  25%{
    font-size: 25px ;
    text-shadow: 3px 5px #797979;
    color: #ffffff;
  }
  50%{
    font-size: 22px ;
    text-shadow: 3px 1.5px #797979;
    color: #d8d8d8;
  }
  75%{
    font-size: 23.5px ;
    text-shadow: 3px 3.8px #797979;
    color: #ffffff;
  }
  100%{
    font-size: 20px;
    color: #d8d8d8;
  }
}